@model List<RecruitmentTest.MenuItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Davey P's Italian Restaurant</h1>
    <p class="lead">Welcome to Davey P's Italian Restaurant. Please select your meal and payment type from the form below.</p>
    <p>@ViewBag.Message</p>
</div>

<div class="row">
    @using(Html.BeginForm("Update", "Home", FormMethod.Post))
    {
        <div class="col-md-4">
            <h2>Menu</h2>
            <ul>
                @foreach (var menuItem in Model)
                {
                    <li>@menuItem.Name : £ @menuItem.Price <input type="radio" name="menuItemId" value="@menuItem.Id" /></li>
                }
            </ul>
            <h2>Payment Type</h2>
            <ul>
                <li>Debit card <input type="radio" name="paymentTypeId" value="1" /></li>
                <li>Credit card <input type="radio" name="paymentTypeId" value="2" /></li>
            </ul>
            <input type="submit" value="Order"/>
        </div>
    }
</div>