
@{
    ViewBag.Title = "PaymentOk";
}

<div class="jumbotron">
    <h1>Davey P's Italian Restaurant</h1>
    <p class="lead">Welcome to Davey P's Italian Restaurant. Please select your meal and payment type from the form below.</p>
    <p>@ViewBag.Message</p>
</div>

